* {
    border: 1px solid black;
}

body {
    font-size: 20px;
    min-height: 100vh;
}

h1,
h3,
[class*="btn"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #5222D0;
}

[class*="btn"] {
    background-color: #5222D0;
    border-radius: 5em;
    color: white;
}


/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 7fr 2fr;
    align-items: center;
    text-align: center;
}

.header__btn {
    grid-column: 4;
}

/*main*/
.main__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5em;
}

.main__item {
    font-family: 'Roboto Slab', serif;
}

.main__img{
    /* justify-self: center; */
    background-image: linear-gradient(to top, white 10%, #EC615B 10%);
}

/* .main__title {
    grid-row: 1;
} */

/* .main__img_no-cables {
    grid-row: 2;
    font-family: 'Roboto Slab', serif;
}

.main__img {
    grid-row: 1/span3;
    grid-column: 2;
    justify-self: center;
    z-index: 1;
    object-fit: cover;
}

.main__img_background {
    grid-row: 1/span3;
    grid-column: 2;
    justify-self: end;
    z-index: 0;
    object-fit: cover;
} */

/*footer*/
.footer__nav {
    display: flex;
    justify-content: flex-start;
    margin: 1em;

    font-family: 'Roboto Slab', serif;
    color: black;
}