/* * {
    border: 1px solid black;
} */

@font-face {
    font-family: 'Intro';
    src: local('Intro Black Regular'),
        url("./font/Intro\ Black\ Regular.otf");
}

body {
    max-width: 60vw;
    max-height: 100vh;

    margin: auto;

    font-size: 20px;
}

h1,
h3,
[class*="btn"] {
    font-family: 'Intro', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #5222D0;
}

[class*="btn"] {
    text-align: center;
    background-color: #5222D0;
    color: white;
}

/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 7fr 2fr;
    align-items: center;

    margin-top: 2.5em;
    margin-bottom: 1em;

    text-align: center;
}

.header__img_logo {
    margin: auto;
}

.header__btn_cart {
    grid-column: 4;

    min-width: 115px;
    min-height: 40px;

    border-radius: 5em;
}

.header__btn_icon {
    min-height: 15px;
}

/*main*/
.main__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
}

h3 {
    margin: 0;
    font-size: 1.5em;
}

p {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    line-height: 160%;
}

.main__img {
    /* justify-self: center; */
    background-image: linear-gradient(to top, white 10%, #EC615B 10%);
}

.main__card_subscribe {
    background: #EC615B;
}

.main__card_news {
    margin: 0.5em;

    color: white;
}

.main__card_subscribe_btn {
    min-width: 135px;
    min-height: 40px;
    margin: 0.5em;

    font-size: 0.75em;
    text-align: center;

    border-radius: 5em;
}

[placeholder] {
    min-width: 320px;
    min-height: 50px;
    margin: 0.5em;

    font-family: 'Roboto Slab', serif;
}

/*footer*/
.footer__nav {
    display: flex;
    justify-content: flex-start;

    margin-left: 0;
    margin-right: 1em;

    font-family: 'Roboto Slab', serif;
    color: black;
}